* {
   font-family: 'Verdana', sans-serif;
   font-size: 1.3rem;
}

body {
   margin: 0;
   overflow: hidden;
}

#nav {
   background-color: #2a2a2a;
   width: 100%;
   padding: 10px 15px;
   position: fixed;
}

#nav>button {
   font-size: 1.3rem;
}

#instructions {
   width: 80%;
   height: 80%;
   padding-top: 80px;
   margin-left: auto;
   margin-right: auto;
   text-align: start;
   line-height: 2rem;
}

#view-data {
   position: absolute;
   margin: 65px auto;
   width: 100%;
   height: 100%;
   display: none;
}

#view-data-scrollable {
   width: 100%;
   max-height: 80%;
   overflow-x: auto;
   overflow-y: auto;
}

#button-clear-data {
   display: none;
   position: relative;
   margin-top: 15px;
}

.frame {
   display: none;
   position: absolute;
   top: 50%;
   left: 50%;
   background-color: #ddd;
   padding: 20px;
   box-shadow: 0px 0px 12px #555;
   transform: translate(-50%, -50%);
   max-width: 400px;
}

label,
input,
select {
   display: block;
   width: 300px;
   padding: 10px 5px 0px 5px;
   margin: 10px 0;
}

#button-upload-data,
#button-start-visualize,
#button-save-config {
   margin-top: 10px;
}

p {
   overflow-wrap: break-word;
}

i {
   position: absolute;
   top: 15px;
   right: 15px;
}

.button-close:hover {
   cursor: pointer;
}

#timeline-modes-container {
   display: none;
   position: absolute;
   top: 0%;
   left: 62.5%;
   text-align: start;
   justify-content: start;
   width: 20%;
}

.timeline-modes-subcontainer {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 0px;
   height: 25px;
}

.timeline-modes-subcontainer>label {
   width: 85px;
   margin: 0px;
   padding: 0px;
   color: white;
   font-weight: normal;
}

#cumulative,
#snapshots,
#aggregated {
   width: 15px;
   height: 15px;
   margin-right: 15px;
}

#window-width {
   text-align: center;
   width: 50px;
   height: 25px;
   color: black;
   text-align: center;
   padding: 0;
}

#slider-container {
   display: none;
   position: absolute;
   top: 0.75%;
   left: 40%;
   width: 20%;
   margin: 0 auto;
   text-align: center;
   user-select: none;
}

#slider {
   width: 100%;
   height: 20px;
   background-color: #888;
   border-radius: 20px;
   position: relative;
   box-shadow: 0px 0px 3px #aaa;
}

#slider-thumb-t0,
#slider-thumb-t1 {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: white;
   position: absolute;
   cursor: pointer;
   box-shadow: 0px 0px 3px #aaaaaa;
}

#slider-thumb-t0:hover,
#slider-thumb-t1:hover {
   background-color: #dddddd;
}

#slider-thumb-t0:active,
#slider-thumb-t1:active {
   background-color: #bbbbbb;
}

#slider-value {
   color: white;
   user-select: none;
   margin-top: 2px;
}

.alert-success {
   display: none;
   position: relative;
   margin: auto;
   top: 60px;
   max-width: 500px;
}

#frame-model-tree {
   cursor: pointer;
   resize: both;
   overflow: auto;
   max-width: unset;
   width: 20%;
   height: 55%;
   top: 32%;
   left: 10%;
}

#frame-info {
   cursor: pointer;
   resize: both;
   overflow: auto;
   max-width: unset;
   width: 20%;
   height: 40%;
   top: 80%;
   left: 10%;
}

.model-tree-element {
   box-sizing: border-box;
   font-size: 10px;
   white-space: nowrap;
}

input[type="color"] {
   border: none;
   border-radius: 50%;
   width: 15px;
   height: 15px;
   margin-left: 10px;
   background-color: transparent;
   margin-top: 0px;
   margin-bottom: 0px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
   padding: 0px;
   background-color: "0x777777";
   border-radius: 50%;
   width: 12px;
   height: 12px;
   margin-top: -11px;
   cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
   border: none;
}

#participant-selection #task-selection #participant-selection-label #task-selection-label {
   display: none;
}

#chart {
   width: 100%;
}